$font:helvetica, sans-serif;
$header-color: #0000ff;
$secondary-color: #af3c43;
$background-color: #fff;
$font-color:black;
$primary-color:white;
$center:0 auto;
$softer-red:#af3c43;
$footer-color:#f2f2f2;