@import "btnConfig";
@import "utilities";
@import "config";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: $background-color;
    color: $font-color;
    font-family: $font;
  }

  nav{
    @include flexbox(row , flex-start, center);

    width: 100%;

    li{
      list-style-type: none;
    }



    .nav-links{
      @include flexbox(row, space-around, center);
      width:50%;

      @media only screen and (max-width: 800px){
        width:100%
      
    }
    @media only screen and (max-width: 550px){
      display: none;
    
  }
    }

  }



  #heading{
    @include divset(100%, 10vh);
    background-color:$secondary-color;
    text-align: center;
    color: $background-color;
    @include flexbox(row , center, center);
    
    h2:hover{
      transform: scale(110%);
      color: bisque;
    }
  }

  .hero{
    @include flexbox(row, center, center);
    @media only screen and (max-width: 600px){
      @include flexbox(column, center, center);  
      
    }

    &-child{
        width: 50%;
        @media only screen and (max-width: 600px){
          width: 100%;
        }
    }

  }

  #hero-text{
    @include flexbox(column, center, center);
    width: 50%;
    padding: 1rem;
     
    p{
      width:50%;
      @media only screen and (max-width: 600px){
        width: 100%;
      }
    }
  }

  .icons-container{
    @include set-grid(6,.1rem);
    @media only screen and (max-width: 800px){
      @include set-grid(3,.1rem);
    }
    @media only screen and (max-width: 600px){
      @include set-grid(1,1rem);   
      
    }
    // @include flexbox(row, space-evenly, center);
  // background-color:red;
   padding: 2rem;

  .icon{
    @include flexbox(column, center, center);
    text-align: center; 
  }
}

.grid-container{
  background-color: $softer-red;
  margin: 0;  
  @include divset(90%, 100%);
  @include set-grid(4, 3rem);
  @media only screen and (max-width: 800px){
    @include set-grid(2,3rem);   
    
  }
  @media only screen and (max-width: 600px){
    @include set-grid(1,2rem);   
    
  }
  
  .grid-child{
    width: 100%;
    text-align: center;
    background-color: $background-color;
    border-radius: 5%;
    padding: 1rem;
    aspect-ratio: 1;

    img{
      width:100%;
      border-radius: 5%;
      padding: 1rem;
      
    }

  }
}

.center{
  @include flexbox(row, center, center);
  padding: 5rem;
  background-color: $softer-red;
 }

 footer{
  @include set-grid(5, 5rem);
  min-height: 40vh;
  background-color: $footer-color;
  padding-top: 4rem;
  @media only screen and (max-width: 800px){
    @include set-grid(3,3rem);   
    
  }
  @media only screen and (max-width: 600px){
    @include set-grid(1,2rem);   
    
  }
li{
    list-style-type: none;
    padding: .6rem;
    text-align: center;
  }

  h4{
    text-align: center;
  }
 }

